<html>
<head></head>
    <body>
        <p>
        <% if @message %>
          <%= @array %>
        <% end %>
        </p>
        <p>
        <%= @array %>
        </p>
        <p>
        <form action="/foo" method="post">
            <label for="guess">Guess</label><br>
            <input type='text' name='baa'><br>
            <input type='submit' value="Submit">
        </form>
        <%= cookies[:something]%>
        </p>
        <p> <%= cookies[:count] %> </p>
        <% if cookies[:count].to_i > 9 %>
          <p> Hello </p>
        <% end %>
    </body>
</html>